

main {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  .nav-link
  {
    color: white !important;
  }

  .card{
    text-align: center;
  }

  .card img
  {
    width: 16rem;
    height: 200px;
    object-fit: cover;
  }
  
  .widget-wrapper {
    padding-bottom: 2rem;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 2rem;
  }

  .carousel-item img
  {
    height:85vh;
    object-fit: cover;
  }
  
  .extra-margins {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
  }
  
  .divider-new {
    margin-top: 0;
  }
  
  .navbar {
    background-color: #414a5c;
  }
  
  footer.page-footer {
    background-color: #414a5c;
    margin-top: 2rem;
  }
  